<div class="container">
    <footer class="footer">
        <small><%= link_to 'sign out', destroy_user_session_path(current_user), method: :delete %></small></br>
        <small>Copyright &copy; <a href="https://nl.linkedin.com/in/bstraver"  target="_blank">ROR Projects by BGJS</a></small>
    </footer>
</div>